<main class="main">
    <div class="content">
        <select class="osSelectionDropdown" (change)="onOptionSelected($event)">
            <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
          </select>
        <table class="toolsTable">
            <thead class="osTitle">
                <tr>
                    <th>{{osData.osName}} : Command Tools</th>
                </tr>
            </thead>
            <tbody class="commandBody">
                <tr>
                    <th>Name</th>
                    <th>Command</th>
                </tr>
                <tr *ngFor=" let item of osData.commands">
                    <td>{{ item.name }}</td>
                    <td>{{ item.command }}</td>
                </tr>
            </tbody>

            <thead class="osTitle">
                <tr>
                    <th>Start up keys</th>
                </tr>
            </thead>

            <tbody class="keyBody">
                @if (selectedOS === "Windows" || selectedOS === "Linux" ) {
                <tr>
                    <th>brand</th>
                    <th>Bios</th>
                    <th>Boot</th>
                </tr>
                } @else {
                <tr>
                    <th>Model</th>
                    <th>Recovery</th>
                    <th>Startup Disk</th>
                    <th>Internet recovery</th>
                    <th>Reset NVRAM/PRAM</th>
                    <th>Target Disk Mode</th>
                    <th>Diagnostics</th>
                </tr>
                }

                <tr *ngFor=" let item of osData.startUpKeys">
                    <td>{{ item.brand }}</td>
                    <td *ngFor=" let key of item.keys">{{key.key}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>


<router-outlet />