<main class="main">
    <div class="content">
        <table class="toolsTable">
            <thead class="osTitle">
                <tr>
                    <th>{{osData.osName}} : Command Tools</th>
                </tr>
            </thead>
            <tbody class="commandBody">
                <tr *ngFor=" let item of osData.commands">
                    <td>{{ item.name }}</td>
                    <td>{{ item.command }}</td>
                </tr>
            </tbody>

            <thead class="osTitle">
                <tr>
                    <th>Start up keys</th>
                </tr>
            </thead>

            <tbody class="keyBody">
                <tr *ngFor=" let item of osData.startUpKeys">
                    <td>{{ item.brand }}</td>
                    <td *ngFor=" let key of item.keys">{{key.description}}: {{key.key}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>


<router-outlet />