<main class="main">
  <div class="content">
    <title>Blue screen of death Lookup</title>
    <form>
      <input class="mainSearchBar" type="search" placeholder="Search for error code eg. PAGE_FAULT_IN_NONPAGED_AREA">
    </form>

    <table>
      <thead>
        <tr>
          <th>Stop codes </th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let item of bsodData.bsodCodes">
          <td>{{ item.stopCode }}</td>
          <td>{{ item.hexcode }}</td>
          <td>{{ item.definition }} <button class="solutionButton">Possible Soulitions</button> </td>
          <!-- Add more columns as needed -->
        </tr>
      </tbody>
    </table>

  </div>
</main>


<router-outlet />