@font-face {
    font-family: "Accuratist";
    src: url("../../public/Accuratist.ttf") format("ttf");
}

.main {
    width: 100%;
    height: fit-content;
    background-color: #111;
    text-align: center;
}

.content {
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    font-family: 'Accuratist';
    background-color: #111;
}

title {
    display: flex;
    position: relative;
    text-align: center;
    color: #FFFFF0;
    font-size: 5rem;
    padding-top: 5rem;
    /*top right bottom left*/
    margin: 4rem auto 4rem auto;
}

h2 {
    display: flex;
    position: relative;
    text-align: center;
    color: #E38E49;
    /*top right bottom left*/
    margin: 0rem auto 1rem auto;
}

.tipButton {
    display: flex;
    position: relative;
    text-align: center;
    margin: 0 auto 0 auto;
    background-color: #D4EBF8;
    color: #E38E49;
    border-radius: 4px;
    font-size: xx-large;
    font-family: 'Accuratist';

}


.tipButtonGroup {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    text-align: center;
}

.nav-button {
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.main-tool-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    overflow: scroll;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: fit-content;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-tool-bar::-webkit-scrollbar {
    display: none;
}




.nav-logo {
    display: flex;
    position: relative;
    padding: 10px 25px 10px 5px;
    font-family: 'Accuratist';
    text-align: center;
    color: #111;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    title {
        font-size: 2.5rem;
    }

    .tipButton {
        font-size: large;

    }
}