.mainSearchBar {
    width: 100%;
    font-family: 'Accuratist';
}

table {
    width: 100%;
    text-align: left;
    table-layout: auto;
    margin-top: 4rem;
    font-family: 'Accuratist';
}

td {
    padding: 1rem 0 1rem 0;
    text-align: center;
}

.solutionButton {
    background-color: transparent;
    color: white;
    text-align: center;
    border-width: 0;
    font-family: 'Accuratist';
}

.solutionButton:hover {
    cursor: pointer;
}

.toolbarSearch {
    width: 80%;
    font-family: 'Accuratist';
}

.matFormField {
    width: 80%;
    margin-top: 4rem;
    font-family: 'Accuratist';
}