.container {
    display: flex;
    position: relative;
}

.article-title {
    display: flex;
    position: relative;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.616);
    font-size: x-large;
    margin: 0 auto 0 auto;
}

.article-description {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.533);
    font-size: larger;
    margin: 0 auto 0 auto;
}

.article-preview {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.533);
    font-size: larger;
    width: 100%;
    text-align: left;
    bottom: -16px;
    te overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    height: fit-content;
}


.article-card {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    margin-bottom: 4rem;
    width: 95%;
    height: 400px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: black;
    overflow: hidden;
}